.center-text{
    text-align: center;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .justify-content{
      justify-content: center;
  }
.margin-top{
    margin-top: 20px;
}

.padding{
    padding-left: 10px;
    padding-right: 10px;
}